### CONFIGURATION TEMPLATE VERSION: 0.9.2

###_______________  LH STINGER PICO MMU  _____________________
### https://github.com/lhndo/LH-Stinger/wiki/Pico-MMU
### This code is licensed under a Creative Commons (4.0 International License)Attribution—Noncommercial—Share Alike




### ------  SETUP  ------
### Add [include sp_mmu.cfg] to printer.cfg BELOW all other includes or macros!
### Klipper Setup: https://github.com/lhndo/LH-Stinger/wiki/Pico-MMU#klipper
### Orca Slicer Setup: https://github.com/lhndo/LH-Stinger/wiki/Pico-MMU#slicer-setup


### ------  MACROS  ------
### Use the dropdown arrow on the macro buttons to set extra parameters
### Macro Documentation: https://github.com/lhndo/LH-Stinger/wiki/Pico-MMU#macros




### ------  HARDWARE CONFIGURATION  -----------------------------------------------------------
###
### This example configuration is based on a BTT EBB42 V1.2 board
### Firmware flashed for USB connection: https://github.com/bigtreetech/EBB/tree/master
### Pinout: https://github.com/lhndo/LH-Stinger/wiki/Images/MMU/ebb_wiring.png
### Provided by Nick1 and DasSammy


[mcu PICO_MMU]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_4E0026001250425539383920-if00


[duplicate_pin_override]
pins: PICO_MMU: PB6   # Filament Sensor pin


[servo sp_servo]
pin: PICO_MMU: PB9    # Servo pin
initial_angle: 0
maximum_servo_angle: 140
minimum_pulse_width: 0.000700
maximum_pulse_width: 0.002300


[manual_stepper sp_motor]  
step_pin: PICO_MMU: PD0                 # Motor Pins
dir_pin: PICO_MMU: PD1                  # Motor Pins
enable_pin: !PICO_MMU: PD2              # Motor Pins
full_steps_per_rotation: 200
rotation_distance: 18.3                 # Needs calibration after final tuning - start with a 10mm forward movement to eliminate backlash, and then extrude 100mm for measurement - use SP_FORCE_MOVE_LANE for calibrating distances
endstop_pin: ^PICO_MMU: PB6             # Filament Sensor pin - keep ^ pullup symbol
microsteps: 16


[tmc2209 manual_stepper sp_motor]
uart_pin: PICO_MMU: PA15   # Motor Pins
run_current: 0.7           # Adjust depending on your motor current ( Motor Rated Current * 0.707(RMS) * 0.8(Safety Factor) )
hold_current: 0.4
interpolate: true
stealthchop_threshold: 99999
 

[filament_switch_sensor sp_sensor_runout]
switch_pin: ^PICO_MMU: PB6    # Filament Sensor pin - keep ^ pullup symbol
pause_on_runout: False        # Leave to False, this is managed internally by the code
insert_gcode:
  _SP_SENSOR_IN
runout_gcode:
  _SP_SENSOR_OUT
event_delay: 0.5
pause_delay: 1.0


[save_variables]
filename: ~/printer_data/sp_mmu_data.cfg   ### Don't change this path if not having an explicit need to do so
[force_move]
enable_force_move: true
[respond]




### ------  VARIABLES  ------------------------------------------------------------------------
### Default distances calibrated on the LH Stinger in the extended Dragon HF configuration (MZE Plus extender) witn an Orbiter 2 extruder and a Toolhead Hub


[gcode_macro _SP_VARS]

variable_enabled: 1    # enable or disable the LH Stinger Pico MMU


# Lanes
variable_lanes: 4                 # number of lanes on the Pico MMU
variable_has_guest_lane: 0        # enable guest lane support (eg. 3+1 setups) - the guest lane uses the last filament set in the slicer
variable_angles: 28, 61, 94, 128  # angles where the lanes are engaged | approximate defaults: 28, 78, 128 for 3 lanes | 28, 61, 94, 128 for 4 lanes
variable_angle_home: 0            # home positions where no lane is engaged, usually at 0
variable_switch_time: 1.2         # seconds - safe time value it takes for the servo to reach the max commanded angle from zero 


# Distances                              # Illustration: https://github.com/lhndo/LH-Stinger/wiki/Images/MMU/toolhead.png - Documentation: https://github.com/lhndo/LH-Stinger/wiki/Pico-MMU#distance-calibration
variable_dist_mmu_to_hub: 1000           # mm - distance from the mmu exit to the hub park position (set it just above the hub entry so you can see the filament tip above)  
variable_dist_hub_to_sensor: 44          # mm - distance from the hub park position to the filament sensor trigger point
variable_dist_sensor_to_extruder: 27     # mm - distance from the filament sensor to the point where the filament touches the extruder gears 
variable_dist_extruder_to_meltzone: 48   # mm - distance from the extruder gears to the meltzone entry (a tiny bit further from where the filament breaks off from) - compensate with end_of_load_filament_move
variable_dist_sensor_to_synced_move: 8   # mm - distance from the filament sensor towards the extruder from where the extruder and mmu unit start working in sync to load the filament - around half way between the sensor and the extruder for toolhead hub configs 
variable_dist_filament_park: 11          # mm - distance from the extruder gears to the filament parking position inside the hotend - nice cold section closer to the extruder - For Filament Cutter: set this to the cut position 


# Speeds
variable_speed_mmu_to_hub: 80        # mm/s - speed for loading the filament from the MMU towards the hub 
variable_speed_hub_to_extruder: 50   # mm/s - filament loading speed from the hub towards the extruder gears
variable_speed_sync_moves: 14        # mm/s - loading speed for synced moves (extruder and mmu motors working in tandem) 
variable_speed_coldzone_loading: 35  # mm/s - moving the filament though the coldzone
variable_speed_meltzone_loading: 10  # mm/s - moving the filament though the meltzone - this is dependent to your hotend max volumetric flow. lower if extruder skips


# Inside Extruder Loading
variable_min_loading_temp: 220           # C - temperature to use if the hotend is cold and no temperature target was set
variable_end_of_load_filament_move: -4   # mm - what to do when the filament has reached the meltzone after loading - negative values: subtract | positive: purge - tweak until no ooze happens after loading filament into the hotend - note that manual changes purge by default
variable_print_start_change_purge: 80    # mm - of filament of purge if a change is made before starting a print 
variable_purge_speed: 12                 # mm3/s - volumetric speed of the purge move


# Motor
variable_motor_speed: 40     # mm/s - default mmu stepper motor speed
variable_motor_accel: 500    # mm2/s - default mmu stepper motor acceleration


# Pause
variable_pause_fan_speed: 0.3       # -1 disable part fan control at pause,  0 to 1.0 - fan speed at pause - can prevent heat creep especially during initial layers
variable_pause_retract: 1.0         # mm - amount of filament to retract and reload at the begining/end of the pause/resume cycle
variable_sidestep_amount: 4         # mm - 0 disabled - move to the side of the purge tower before a toolchange - only when park is disabled


# Park
variable_use_park: 0                # 0 disabled - park during filament changes or stay next to the purge tower
variable_park_purge: 0              # 0/1 - on/off - purge the required amount of filament for a color change calculated by the slicer and sent though _SP_SET_PURGE PURGE=[first_flush_volume] 
variable_purge_unload: 0            # mm - distance - distance of filament to purge before unloading the hotend - helps with tip forming - only when park_purge is enabled 
variable_park_x: 233                # mm absolute - park x
variable_park_y: 100                # mm absolute - park y
variable_park_dz: 2                 # mm delta park z hop
variable_park_z_speed: 20           # mm/s speed for park moves
variable_park_speed: 200            # mm/s speed for park moves
variable_park_accel: 8000           # mm2/s acceleration for park moves


# Advanced
variable_overshoot_factor: 1.39       # amount of overshoot for moves that end with a sensor endstop trigger. A certain amount of overshoot is required to make sure the sensor/endstop triggers - certain values can make Klipper unhappy and crash 
variable_overshoot_hub_distance: 50   # mm of overshoot for MMU to hub loading moves that end with an endstop trigger 
variable_lane_em: 1.0, 1.0, 1.0, 1.0  # extrusion multiplier per lane in case your gears or something else in your setup makes the lanes move a different amount of filament - leave to 1.0 for the initial setup and only set if your lanes have different rotation distances  
variable_backlash: 3.0                # mm - backlash compensation for the filament slack present in the bowden tubes - start testing with 2mm moves forward and reverse - increase the amount and observe at which value the filament actually starts moving at the end of the PTFE tube and set that value as backlash
variable_sensor_safe_move: 3.0        # mm - additional safety move to prevent the sensor immediately changing state after finishing the movement 
variable_home_before_downchange: 0    # 1/0 - recommended for winch drive - lanes can be engaged only by moving the servo in a positive direction - can help with cam angle consistency
variable_turn_pa_off: 1               # disable Pressure Advance during filament changes
variable_turn_mpc_off: 0              # disable MPC feed forward if using MPC instead of PID - Set MPC parameters in the filament G-CODE for them to be restored after the filament change - Kalico firmware only!
variable_guest_operation_timeout: 30  # s - for the manual guest lane operations where user input is required - the code will perform interval checks after which it will PAUSE the print if the action is not detected
variable_infinite_spool: 0            # experimental infinite spool feature - automatically changes to next lane on a runout event - guest lanes not counted - pause park during runout change is enforced 
variable_tip_length_below_cut: 0      # mm - For Filament Cutter: Length of the filament tip left inside the hotend below the cutting point (dist_filament_park) 
variable_skip_first_park: 0           # 1/0 - disable the first parking move when using filament cutters which take over that task 
variable_legacy_klipper: 0            # enabling alternate methods that try to fix issues with legacy klipper version
variable_debug: 0                     # enable debug messages
variable_version: 0.92                # keeping track of version number between the settings file and the code file
gcode:



### ------  TIP FORMING  ------------------------------------------------------------------------


# Tip Forming                         # Documentation: https://github.com/lhndo/LH-Stinger/wiki/Pico-MMU#process

# Adjust the following parameters in your printer.cfg to allow for fast retractions, or test your own extruder speed limits - lower if the extruder skips
# [extruder]
# max_extrude_only_velocity: 130
# max_extrude_only_accel: 3000
# max_extrude_only_distance: 1000.0
# max_extrude_cross_section: 5


[gcode_macro _SP_TIP_FORMING_DEFAULTS]

variable_pause_push_dist: 0.5         # mm - small push of filament to compensate for variable_pause_retract 
variable_pause_push_speed: 10         # mm/s - push speed
variable_cooldown_dist: 5             # mm - retract distance for the first cooldown move - short values (~5mm) act as a dip move instead  - cooldown performs a pull, push, pull move - progressively slower and shorter
variable_cooldown_pull_speed: 70      # mm/s - fast pulling speed to break the filament from the meltzone 
variable_cooldown_pause: 0            # s - pause after the first cooldown move
variable_cooldown_secondary_moves: 1  # 1/0 - on/off - enable or disable the default secondary cooldown moves
variable_dip_melt_gap: 2              # mm - 0 off - distance from the meltzone where the filament dip move will stop before reaching it (how close to get to the fire) - this variable can make a big difference
variable_dip_speed: 30                # mm/s - how fast to approach the dip point
variable_dip_pause: 2                 # s - not actually a pause but a slow crawl towards the heat to burn the strings from the filament tip (how long to stay close to the fire) - this variable can make a big difference
variable_park_speed: 130              # mm/s - final long retract - should be as fast as you can to break the strings
gcode:




### ------  USER MACROS  ------------------------------------------------------------------------
### Entry points for advanced customization for custom setups


[gcode_macro _SP_BEFORE_CHANGE]   ## User macro called during an active print just after the toolhead is parked for a filament change 
gcode:    



[gcode_macro _SP_AFTER_CHANGE]   ## User macro called before resuming the active print after a filament change 
gcode:   



[gcode_macro _SP_TIP_FORM]   ## Tip forming user macro called during the unload hotend stage - Filament Cut Macro goes here
gcode:  
  _SP_TIP_FORMING   ## Built-in tip forming macro - you can replace it with your own if needed
  G4 P20  # ms - Pause before unloading extruder - Set to a few seconds if the filament is soft when reaching the extruder gears  



[gcode_macro _SP_PURGE]   ## Called whenever a purging action is performed
gcode:  
  {% set sp = printer['gcode_macro _SP_VARS'] %}
  {% set purge = params.PURGE|default(0) | int %}
  G90

  ## Park with Conditional Homing if enabled
  {% if sp.use_park == 1 %}
    _SP_CONDITIONAL_HOME AXIS=XY ## Select your park moves depending on your requirements
    _SP_PAUSE_PARK SKIP_Z=1   
    G0 X{sp.park_x} Y{sp.park_y} F{60*sp.park_speed}  ### Move to purge park position
  {% endif %} 

  ## Verify heating
  _SP_HEAT_HOTEND
  
  ## Purge  
  M400
  RESPOND MSG="SP: Purging {purge}mm of filament"
  G1 E{purge} F{60*(sp.purge_speed/2.4)}  ## Conversion from mm3/s to mm/s 
  G0 E-0.4 F{35*60}   ## Small retract




### ------  NOTIFICATIONS  ------------------------------------------------------------------------ 

## For setting up external LED controllers or other notification systems
## _SP_NOTIFY ACTION=[ loaded | pending | empty | hotend_loading | hotend_unloading | extruder_loading | extruder_unloading | hub_loading | hub_unloading | runout | pause | print_end | boot ] 
##            LANE=[0,1...] COMPLETE=[0|1] ERROR=[0|1]


[gcode_macro _SP_NOTIFY]
gcode:
  {% set action = params.ACTION | default("") | string %}
  {% set lane = params.LANE | default(-1) | int %}
  {% set complete = params.COMPLETE | default(1) | int %}
  {% set error = params.ERROR | default(0) | int %}
  {% set sp = printer['gcode_macro _SP_VARS'] %}

  {% if sp.debug == 1 %}
    M118 {rawparams} 
  {% endif %}




#### ------  TOOL CHANGES  ----------------------------------------------------------------------  
### For RatOS - Comment the T macros below to avoid built-in T0 conflict - In Orca Slicer add Change filament G-code: SP_CHANGE T=[next_extruder]


[gcode_macro T0]
gcode:
  _SP_TOOL_CHANGE LANE=0

[gcode_macro T1]
gcode:
  _SP_TOOL_CHANGE LANE=1

[gcode_macro T2]
gcode:
  _SP_TOOL_CHANGE LANE=2

[gcode_macro T3]
gcode:
  _SP_TOOL_CHANGE LANE=3

[gcode_macro T4]
gcode:
  _SP_TOOL_CHANGE LANE=4

[gcode_macro T5]
gcode:
  _SP_TOOL_CHANGE LANE=5




### ------  CODE  ----------------------------------------------------------------------

[include sp_mmu_code.cfg]
