##### LH Stinger User Macro Configuration #####


[gcode_macro _CLIENT_VARIABLE]


##### Mainsail - Fluidd User Variables #####

variable_use_custom_pos  : True ; use custom park coordinates for x,y [True/False] 
variable_custom_park_x   : 5      ; custom x position; value must be within your defined min and max of X
variable_custom_park_y   : 200    ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz  : 50     ; custom dz value; the value in mm to lift the nozzle when move to park position 
variable_retract         : 0.4    ; the value to retract while PAUSE
variable_cancel_retract  : 0.4    ; the value to retract while CANCEL_PRINT
variable_speed_retract   : 35.0   ; retract speed in mm/s
variable_unretract       : 0.2    ; the value to unretract while RESUME
variable_speed_unretract : 35.0   ; unretract speed in mm/s
variable_speed_hop       : 15.0   ; z move speed in mm/s
variable_speed_move      : 140    ; move speed in mm/s
variable_park_at_cancel  : False  ; Keep False, this is handeled by PRINT_END - allow to move the toolhead to park while execute CANCEL_PRINT [True,False]
variable_use_fw_retract  : False  ; use fw_retraction instead of the manual version [True/False]  - [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True
variable_idle_timeout    : 0      ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored



##### LH Stinger User Variables ##### 


# System
variable_stop_bg_services : False   # Stops host scheduled tasks during print to avoid high cpu/mem load 

# Print
variable_accel_factor: 1.0                   # Global Acceleration Factor (Scales the acceleration value set by the slicer) - can be adjusted during print with SET ACCEL FACTOR
variable_use_multi_bed_mesh_profiles: False  # PRINT_START tries matching existing bed mesh profiles with set bet temperature. REQ Profiles: "default", "75", "105"

# Filament
variable_my_end_retract: 4         # mm - retract amount at the end of the print. This value is primed back at print start. - Set it very low or to 0 for MMU
variable_my_load_len: 65.0         # distance used for filament load
variable_my_load_prime_len: 75.0   # amount of priming/purging after the filament is loaded
variable_my_unload_len: 50.0       # distance used for filament unload
variable_my_purge_len: 50.0        # arbitrary amount 

# Purge Line
variable_purge_x: 195        # X - Bed position to purge start the purge line 
variable_purge_y: 42         # Y
variable_purge_z: 0.8        # Z 
variable_purge_length: 20    # mm - length of the purge line 
variable_purge_amount: 100   # mm of filament

# Velocity
variable_velocity_start: 300   # Velocity during PRINT_START in mm/s
variable_accel_start: 10000    # Acceleration during PRINT_START in mm2/s

# Positions
variable_nozzle_heat_x: 20  # X -Safe spot to heat up nozzle during PRINT START and PAUSE - M600 Filament Change
variable_nozzle_heat_y: 20  # Y  
variable_nozzle_heat_z: 20  # Z
variable_change_z_min: 80   # Minimum Z height for PAUSE - M600 Filament Change

# Aux Fan
variable_has_aux_fan: True     # Enable if using Aux fan. [fan_generic aux] has to be enabled in printer.cfg. Check example config.  
variable_link_aux: True        # Linking Aux fan speeds with Part fan
variable_aux_ratio: 1          # Ratio between Part fan and Aux when linked. 0.75 equals 75% of the Part fan speed


# Quiet Mode (Qmode)          # To enable quiet mode, trigger the Qmode macro, or set QUIETMODE=1 in the slicer print start parameters
variable_q_fan_max: 50        # 0-100 % - All fan speeds are defined as percentages: 0-100 %
variable_q_fan_aux: 0         # Aux fan speed. Usually disabled in quiet mode
variable_q_link_aux: False    # Link aux fan to part fan, or keep it independent to be able to be turned off
variable_q_feedrate: 100      # 0-100 % - Print speed percentage 
variable_q_max_velocity: 200  # Caps max velocity
variable_q_max_accel: 10000   # Caps max accel
variable_q_accel_factor: 1.0  # Acceleration Multiplier - 0.5 = 50%
variable_q_min_cruise: 0.4    # Minimum distance to cruise
variable_q_scv: 5             # Max SCV
variable_q_stealthchop: False # Enable Stealthchop switching on TMC2240


variable_version: 2.0   # Keeping track of version number between the settings file and the code file. 
gcode:


##### Macros #####

[include mymacros_code.cfg]    # Main codebase for the LH Stinger Macros
[include testspeed.cfg]        # Speed testing macros tuned to push the limits on cartesian motion systems


