# https://github.com/churls5495/Annex-Engineering_User_Mods/blob/main/Extruders/Sherpa_Mini/Toolheads/Churls-Stiffy_E3/QuickDraw_klipper_config.cfg
#
# Download Dalegaard's xz dockable probe module to `~/klipper/klippy/extras/ folder on klipper host as `xz_dockable_probe.py`:
#	A copy of this module has been placed in this repository with Dalegaard's permission. You can download it with these SSH commands:
#		cd ~/klipper/klippy/extras/
#		wget https://raw.githubusercontent.com/churls5495/Annex-Engineering_User_Mods/main/Extruders/Sherpa_Mini/Toolheads/Churls-Stiffy_E3/xz_dockable_probe.py
#		cd ../..
#		echo "klippy/extras/xz_dockable_probe.py" >> .git/info/exclude
#		systemctl restart klipper
#
#	It can also be found here: https://gist.github.com/dalegaard/3f1b8695275a15b1888119304d79b88d
#
#	This module provides additional klipper commands:
#		probe_attach		# attaches probe to toolhead
#		probe_detach		# detaches probe from toolhead
#		probe_lock		# disables auto docking functionality
#		probe_unlock		# reenables auto docking functionality
#		G28 lock_probe=1	# disables auto docking after homing
#		probe_detach force=1	# unlock_probe + probe_detach
#
#	Example:
#		G28 lock_probe=1	# Home XY, attach probe, home Z with probe on bed, hold probe (rather than auto docking immediately as G28 alone would)
#		bed_mesh_calibrate	# generate mesh
#		probe_detach force=1 	# unlocks and docks

# Modifications to printer.cfg
# [stepper_z]
# endstop_pin: probe:z_virtual_endstop # was PG15
# #position_endstop: 0.0      	# comment out othis line



# Additions to printer.cfg
[xz_dockable_probe]
dock_pin: PG15			# stock Z endstop pin
dock_x: 15			# X position of nozzle that aligns toolhead and probe magnets
park_delta_x: -15		# X travel to retrieve probe from dock (relative to dock_x)
detach_delta_x: 15		# X travel to detach probe from toolhead (relative to dock_x)
z_speed: 30
xy_speed:160
z_hop: 15			# Z travel to clear dock
home_xy_position: 150,141 #probe position x 118 nozzle
#hook_commands: False 		# optional setting to disable the auto attach/detach features. Default is True

[probe]
pin:^PG12			#pin wired to QuickDraw
x_offset: -32
y_offset: 0
samples: 1
sample_retract_dist: 5
samples_result: median
samples_tolerance: 0.02
samples_tolerance_retries: 3
speed: 5
lift_speed: 25

[bed_mesh]
speed: 250
horizontal_move_z: 9
mesh_min: 25,43
mesh_max: 211,233
probe_count: 7,7
algorithm: bicubic
bicubic_tension: 0.3
fade_start: 3
fade_end: 0.0
split_delta_z: 0.015
move_check_distance: 5
mesh_pps: 4,4 
zero_reference_position: 118,141

[z_tilt]
z_positions: -71,141
			 305,141
points: 58,141
		242,141
speed: 250
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.01

# Not setup yet
# [screws_tilt_adjust]  
# screw1: 237.5,202.5 
# screw1_name: rear right 
# screw2: 67.5,202.5 
# screw2_name: rear left 
# screw3: 67.5,32.5
# screw3_name: front left
# screw4: 237.5,32.5
# screw4_name: front right
# speed: 200
# horizontal_move_z: 10
# screw_thread: CW-M4

[gcode_macro QD_home_tilt]
gcode:
    G28 lock_probe=1
    Z_TILT_ADJUST
    G28 Z
     
[gcode_macro QD_dock]
gcode:
    probe_detach force=1

[gcode_macro QD_attach]
gcode:
    probe_attach

[gcode_macro QD_latch]
gcode:
    probe_lock

[gcode_macro QD_home_latch]
gcode:
    G28 lock_probe=1

[gcode_macro QD_mesh]
description: home, mesh, detach probe
gcode:
    G28 Z lock_probe=1
    Z_TILT_ADJUST
    G28 Z
    bed_mesh_calibrate
    probe_detach force=1

[gcode_macro QD_mesh_heat]
description: Heat bed, attach probe, home, mesh, detach probe
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60) %}
    M190 S{BED_TEMP}
    G28 Z lock_probe=1
    Z_TILT_ADJUST
    G28 Z
    bed_mesh_calibrate
    probe_detach force=1
