#   A copy of the XZ dockable probe module has been placed in this repository with Dalegaard's permission.
#   This module has been updated to work with the latest Klipper Probe changes: https://raw.githubusercontent.com/lhndo/klipper/red/klippy/extras/xz_dockable_probe.py
# 
#	The origin of this module can be found here: https://gist.github.com/dalegaard/3f1b8695275a15b1888119304d79b88d
#   And the config by Churls: https://github.com/churls5495/Annex-Engineering_User_Mods/blob/main/Extruders/Sherpa_Mini/Toolheads/Churls-Stiffy_E3/QuickDraw_klipper_config.cfg
#
#
#	This module provides additional built-in klipper commands:
#		probe_attach		# attaches probe to toolhead
#		probe_detach		# detaches probe from toolhead
#		probe_lock		# disables auto docking functionality
#		probe_unlock		# reenables auto docking functionality
#		G28 lock_probe=1	# disables auto docking after homing
#		probe_detach force=1	# unlock_probe + probe_detach
#
#	Example:
#		G28 lock_probe=1	# Home XY, attach probe, home Z with probe on bed, hold probe (rather than auto docking immediately as G28 alone would)
#		bed_mesh_calibrate	# generate mesh
#		probe_detach force=1 	# unlocks and docks


# Additions to printer.cfg
[xz_dockable_probe]
dock_pin: ^PA0			# Pin wired to the Z endstop mounted on the extrusion
dock_x: 10			    # X position of nozzle where the toolhead and probe magnets align
park_delta_x: -10		# X travel required to remove the probe from the dock (relative to dock_x)
detach_delta_x: 10		# X travel required to insert the probe into the dock  (relative to dock_x)
z_speed: 30
xy_speed:160
z_hop: 12		    	# Z travel required to clear dock
#hook_commands: False 	# optional setting to disable the auto attach/detach features. Default is True

# Physical measurement references: 
#        Nozzle positioned at ~112mm from the left face of the Z pillar = G1 X0
#        Bed 0,0 = nozzle at G1 X18 Y38 
home_xy_position: 147,138 # probe coordinates 



[probe]
pin:^PA3			# Pin wired to Toolhead QuickDraw Probe   
x_offset: -28.6
y_offset: 0
samples: 1
sample_retract_dist: 5
samples_result: median
samples_tolerance: 0.02
samples_tolerance_retries: 3
speed: 5
lift_speed: 25


[bed_mesh] # nozzle coordinates   
### Calibration: 
### 1. Home the printer and move the toolhead manually to the bed origin (left front).
### 2. Compare the values to the reference origin (X18, Y38) used here
### 3. If they differ, then add those offsets to the min/max X,Y values below

speed: 250
horizontal_move_z: 12
mesh_min: 25,45      #  7mm margin | Bed 0, 0 matches X18 Y38
mesh_max: 211,231
probe_count: 6, 6
algorithm:  lagrange
bicubic_tension: 0.2
fade_start: 1
fade_end: 0 
split_delta_z: 0.025
move_check_distance: 5
mesh_pps: 2,2 
zero_reference_position: 118,138
faulty_region_1_min: 26, 46       # bed screws 15x15mm from edges | regions 14x14mm
faulty_region_1_max: 40, 60
faulty_region_2_min: 196, 46   
faulty_region_2_max: 210, 60
faulty_region_3_min: 196, 216   
faulty_region_3_max: 210, 230
faulty_region_4_min: 26, 216   
faulty_region_4_max: 40, 230


[z_tilt] 
z_positions: -23, 138  # nozzle coordinates
			 291,138 
points: 86,138         # probe coordinates
		206,138
speed: 250
horizontal_move_z: 12
retries: 5
retry_tolerance: 0.01


[screws_tilt_adjust]  # probe coordinates
screw1: 69,215 
screw1_name: rear left 
screw2: 223,215 
screw2_name: rear right 
screw3: 223,61
screw3_name: front right
screw4: 69,61
screw4_name: front left
speed: 250
horizontal_move_z: 12
screw_thread: CW-M3


##### QD Probe Macros ####

[gcode_macro QD_home_tilt]
gcode:
    G28 lock_probe=1
    Z_TILT_ADJUST
    G28 Z
     
[gcode_macro QD_dock]
gcode:
    probe_detach force=1

[gcode_macro QD_attach]
gcode:
    probe_attach

[gcode_macro QD_latch]
gcode:
    probe_lock

[gcode_macro QD_mesh]
description: Heat bed, attach probe, home, mesh, detach probe
gcode:

    {% set BED_TEMP = params.BED_TEMP|default(0) %}
    M190 S{BED_TEMP}
    QD_home_tilt
    bed_mesh_calibrate
