###############  LH STINGER  ##################
###________________________________________________
#    __          __  __________    __  ___   __  __  
#   / /  /\  /\ / _\/__   \_   \/\ \ \/ _ \ /__\/__\ 
#  / /  / /_/ / \ \   / /\// /\/  \/ / /_\//_\ / \// 
# / /__/ __  /  _\ \ / //\/ /_/ /\  / /_\\//__/ _  \ 
# \____|/ /_/   \__/ \/ \____/\_\ \/\____/\__/\/ \_/    
###________________________________________________
### Fysetc Spider 3.0 - STM32H723VGT6
###
### Flash with (H723 ver. only):
### "128KiB bootloader" and a "25Mhz crystal"
### USB Communication interface (PA11/PA12)
###
### For Other Octopus Pro chips, please consult: 
###https://github.com/FYSETC/FYSETC-SPIDER/tree/main/firmware/Klipper
###_______________________________________________

# Complete your configuration setup and check by following this guide: https://www.klipper3d.org/Config_checks.html

[include mainsail.cfg] # Mainsail or Fluid configuration choice, depending on your Klipper installation
# [include fluidd.cfg]

#[include std_kinematics.cfg]  # Decoupled Kinematic settings. In case of running Limited Cartesian Kinematics:  https://klipper.discourse.group/t/independant-acceleration-limits-for-x-and-y-axes/3831

[include steppers.cfg] # Daily print stepper driver configuration. Choose one or the other.

# [include steppersfast.cfg]  # High performance stepper driver configuration. Choose one or the other.

[include quickdrawprobe.cfg] # Install the Quickdraw Probe Extension by Daalegard. For instructions please see quickdrawprobe.cfg 

[include adxl_pico.cfg] # Enable when connecting the Rpi Pico + ADXL 

[include reshelper.cfg] # Install Reshelper from: https://github.com/lhndo/ResHelper

[include mymacros.cfg]  # Your Macros

[include testspeed.cfg] # Speed Testing Macros 

[include KAMP_Settings.cfg]    # Install KAMP from: https://github.com/kyleisah/Klipper-Adaptive-Meshing-Purging

###__________________  MCU  ____________________

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_32000A001251323032333536-if00
# To find your USB serial addres run: ls /dev/serial/by-id/*
[printer]
kinematics: cartesian
max_velocity: 1000
max_accel: 5000
#minimum_cruise_ratio: 0.0
max_z_velocity: 70
max_z_accel: 800
square_corner_velocity: 15.0

###_______________  Steppers  ___________________

[stepper_x]
step_pin: PE11
dir_pin: !PE10
enable_pin: !PE9
endstop_pin: ^PB14
full_steps_per_rotation: 200
rotation_distance: 40
position_endstop: 0
position_min: 0
position_max: 254
homing_speed: 80
homing_retract_dist: 0


[stepper_y]
step_pin: PD14
dir_pin: PD13
enable_pin: !PD15
endstop_pin: ^PA2
full_steps_per_rotation: 200
rotation_distance: 40
position_endstop: 0
position_min: 0
position_max: 255
homing_speed: 80
homing_retract_dist: 0

[stepper_y1]
step_pin: PD5
dir_pin: !PD6
enable_pin: !PD4
endstop_pin: ^PA2
full_steps_per_rotation: 200
rotation_distance: 40

[stepper_z]
step_pin: PE2
dir_pin: PE4
enable_pin: !PE3
#endstop_pin: ^PA0    # Disable when activating quickdrawprobe.cfg
endstop_pin: probe:z_virtual_endstop     # Enable when activating quickdrawprobe.cfg
full_steps_per_rotation: 200
rotation_distance: 40
gear_ratio: 80:20
#position_endstop: 0   # Disable when activating quickdrawprobe.cfg
position_min: -35
position_max: 196
homing_speed: 10
second_homing_speed: 4
homing_retract_dist:3

[stepper_z1]  ;  M5
step_pin: PE6
dir_pin: !PC13
enable_pin: !PE5
#endstop_pin: PA0    # Disable when activating quickdrawprobe.cfg
full_steps_per_rotation: 200
rotation_distance: 40
gear_ratio: 80:20


###_______________  Extruder/Bed  ___________________

[extruder]   ;  M6
step_pin: PD12
dir_pin: PC4
enable_pin: !PE8
heater_pin: PC8   # Disable when the hotend thermistor is connected though MAX31865 
sensor_pin: PB0 #PC2  #T2
sensor_type: PT1000 #Generic 3950

# ____ MAX31865 Configuration ____
#heater_pin: PA0 # HE0
#sensor_type: MAX31865
#spi_bus: spi1
#sensor_pin: PF8
#rtd_nominal_r: 1000
#rtd_num_of_wires: 2
#rtd_reference_r: 4300
#rtd_use_50Hz_filter: True
#_________________________________

rotation_distance: 3.584
full_steps_per_rotation: 200
smooth_time: 3
min_temp: -270
max_temp: 310
min_extrude_temp: 0
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_only_distance: 1000.0
max_extrude_only_velocity: 120
max_extrude_cross_section: 5
pressure_advance: 0.02
pressure_advance_smooth_time: 0.02
instantaneous_corner_velocity: 1.000
control: pid
pid_Kp: 12.109
pid_Ki: 0.616
pid_Kd: 59.486

[heater_bed]
heater_pin: PB4
sensor_pin: PC1 # T1
sensor_type: Generic 3950
smooth_time: 1
min_temp: 0
max_temp: 110
control: pid
pid_Kp: 48.004 
pid_Ki: 0.446 
pid_Kd: 1292.517

###_______________  Fans  ___________________

#  Fan 0 - Optional Auxiliary Fan
[fan_generic aux]
pin: PA13
kick_start_time: 0.500

# Fan 1 - Part Cooling Fan
[fan]
pin: PA14
cycle_time: 0.024
kick_start_time: 0.5
hardware_pwm: False
max_power: 1.0

# Fan 2 - Hotend Cooling Fan
[heater_fan hotend_fan]  
pin: PB2
heater: extruder
heater_temp: 50.0
kick_start_time: 0.500
hardware_pwm: False
cycle_time: 0.024
fan_speed: 0.72
# ebox_Fan
[multi_pin ebox_Fan]
pins: PB6,PB5

# Fan3 & Fan4
[temperature_fan ebox_stm32] 
pin: multi_pin:ebox_Fan
kick_start_time: 0.2
sensor_type:temperature_mcu
off_below: 0.2
max_power: 1.0
control:watermark
min_temp: 10
max_temp: 100
target_temp: 20.0


###_______________  Temperature Sensors  ___________________
# T1
#[temperature_sensor external]
#sensor_pin:PC1
#sensor_type: ATC Semitec 104GT-2
#min_temp: 0
#max_temp: 300

###_______________  Features  ___________________
[idle_timeout]
timeout: 600
gcode:
  {% if printer.pause_resume.is_paused %}
    M118 Idle timeout while paused, turning off hotend
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  {% else %}
    M118 Idle timeout, turning off hotend and disabling steppers
    TURN_OFF_HEATERS
    M84
  {% endif %}

[exclude_object]
[respond]
#[resonance_holder]
#accel_per_hz: 140
[display_status]
[force_move]
enable_force_move: true
[respond]
default_type: echo
default_prefix:
[gcode_arcs]
resolution: 0.1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.062072, 0.066955, 0.072228
#*# 	0.009728, 0.007580, 0.050744
#*# 	0.005236, -0.027772, -0.036366
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 102.94
#*# max_x = 133.9
#*# min_y = 120.88
#*# max_y = 155.3
#*#
#*# [input_shaper]
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 42.6
#*# shaper_type_x = mzv
#*# shaper_freq_x = 71.8
